<div class="modal" id="suaSinhVien">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Sửa thông tin sinh viên</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <%= form_for [:admin, sinh_vien], remote: true do |f| %>
          <div class="register-top-grid">
            <div class="mation">
              <span>Tên sinh viên<label>*</label></span>
              <%= f.text_field :ten, class: "form-control" %>
            </div>
            <br>
            <div class="mation">
              <span>Mã Sinh viên<label>*</label></span>
              <%= f.text_field :id, class: "form-control" %>
            </div>
            <br>
            <div class="mation">
              <span>Ngày sinh<label>*</label></span>
              <%= f.date_field :ngay_sinh, class: "form-control" %>
            </div>
            <br>
            <div class="mation">
              <span>Khoa<label>*</label></span>
              <%= f.text_field :khoa, class: "form-control" %>
            </div>
            <br>
            <div class="mation">
              <span>Lớp<label>*</label></span>
              <%= f.text_field :lop, class: "form-control" %>
            </div>
            <br>

            <div class="modal-footer">
              <%= f.submit "Xác nhận", class: "btn btn-primary" %>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
          </div>
        <% end %>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
</div>
