<table id="sinhVien" class="table table-striped table-bordered">
  <thead>
    <tr>
        <th>Tên</th>
        <th>Mã sinh viên</th>
        <th>Ngày sinh</th>
        <th>Khoa</th>
        <th>Lớp</th>
    </tr>
  </thead>
  <tbody>
    <% sinh_viens.each do |sinh_vien| %>
      <tr>
        <td><%= sinh_vien.ten %></td>
        <td><%= sinh_vien.ma_sv %></td>
        <td><%= sinh_vien.ngay_sinh %></td>
        <td><%= sinh_vien.khoa %></td>
        <td><%= sinh_vien.lop %></td>
      </tr>
    <% end %>
  </tbody>
</table>
