<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><%= image_tag "ABCUni.png", alt: "ABCUni", id: "logo" %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <span id="web-title">CỔNG THÔNG TIN ĐĂNG KÝ DỰ THI</span>
      </ul>
      <% if logged_in? %>
        <ul class="navbar-nav pull-right">
          <% if is_admin? %>
            <li class="nav-item dropdown" id="notifications">
              <a href="#" class="nav-link dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell" aria-hidden="true"></i></a>
              <ul class="dropdown-menu dropdown-menu-center">
                <li class="head text-light bg-dark">
                  <div class="row">
                    <div class="col-lg-12 col-sm-12 col-12">
                      <span>Thông báo (0)</span>
                      <a href="" class="float-right text-light">Đánh dấu tất cả là đã đọc</a>
                    </div>
                  </div>
                </li>
                <div id="notification-list">
                  <li class="notification-box">
                    <div class="row">  
                      <div class="col-md-6 offset-3 text-center">
                        Không có thông báo
                      </div>    
                    </div>
                  </li>                  
                </div>
                <li class="footer bg-dark text-center">
                  <a href="" class="text-light">Xem tất cả</a>
                </li>
              </ul>
            </li>
          <% end %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Chào mừng: 
              <strong>
                <% if is_admin? %>
                  <%= current_admin.email %>
                <% else %>
                  <%= current_sinh_vien.ten %>
                <% end %>
              </strong>
            </a>
            <div class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdown">
              <% if is_admin? %>
                <%= link_to "Đăng xuất", destroy_admin_session_path, method: "delete", class: "dropdown-item"  %>
              <% else %>
                <%= link_to "Đăng xuất", destroy_sinh_vien_session_path, method: "delete", class: "dropdown-item" %>  
              <% end %>
            </div>
          </li>
        </ul>
      <% end %>
    </div>
  </nav>
</header>
