<!DOCTYPE html>
<html>
  <head>
    <title>Examreg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    "application", "data-turbolinks-track" => true, media: "all" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </head>

  <body>
    <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |f| %>
        <% type = f[0].to_s %>
          toastr["<%= type %>"]("<%= f[1] %>");
        <% end %>
      </script>
    <% end %>
    <div class="wrapper">
      <%= render "layouts/header" %>
      <div class="main">
        <%= render "layouts/sidebar" %>
        <main>
          <%= yield %>
        </main>
      </div>
      <%= render "layouts/footer" %>    
    </div>

  </body>
</html>
