<!DOCTYPE html>
<html>
  <head>
    <title>Examreg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    "application", "data-turbolinks-track" => true, media: "all" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= custom_bootstrap_flash %>
    <%= action_cable_meta_tag %>
  </head>

  <body>
    <div class="wrapper">
      <%= render "layouts/header" %>
      <div class="main">
        <%= render "layouts/sidebar" %>
        <main>
          <%= yield %>
        </main>
      </div>
      <%= render "layouts/footer" %>    
    </div>
  </body>
</html>
